/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-text-left {
    text-align: left;
    list-style-type: disc;
    margin: 10px 0 0 20px;
}